In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
ruta = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\data\clean\extra_clean.parquet'

In [4]:
data = pd.read_parquet(ruta)

In [5]:
data.head(5)

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,cabim_multiple,cabin_adv,numeric_tiket,letters_tiket,name_title,norm_fare
index,,,,,,,,,,,,,
0,0,3,male,22.0,1,0,S,0,n,0,a5,Mr,2.110213
1,1,1,female,38.0,1,0,C,1,C,0,pc,Mrs,4.280593
2,1,3,female,26.0,0,0,S,0,n,0,stono2,Miss,2.188856
3,1,1,female,35.0,1,0,S,1,C,1,0,Mrs,3.990834
4,0,3,male,35.0,0,0,S,0,n,1,0,Mr,2.202765

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        889 non-null    int64
 1   Pclass          889 non-null    int64
 2   Sex             889 non-null    object
 3   Age             889 non-null    float64
 4   SibSp           889 non-null    int64
 5   Parch           889 non-null    int64
 6   Embarked        889 non-null    object
 7   cabim_multiple  889 non-null    int64
 8   cabin_adv       889 non-null    object
 9   numeric_tiket   889 non-null    int64
 10  letters_tiket   889 non-null    object
 11  name_title      889 non-null    object
 12  norm_fare       889 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.2+ KB

In [7]:
df = data.copy()

In [8]:
df.head(5)

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,cabim_multiple,cabin_adv,numeric_tiket,letters_tiket,name_title,norm_fare
index,,,,,,,,,,,,,
0,0,3,male,22.0,1,0,S,0,n,0,a5,Mr,2.110213
1,1,1,female,38.0,1,0,C,1,C,0,pc,Mrs,4.280593
2,1,3,female,26.0,0,0,S,0,n,0,stono2,Miss,2.188856
3,1,1,female,35.0,1,0,S,1,C,1,0,Mrs,3.990834
4,0,3,male,35.0,0,0,S,0,n,1,0,Mr,2.202765

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        889 non-null    int64
 1   Pclass          889 non-null    int64
 2   Sex             889 non-null    object
 3   Age             889 non-null    float64
 4   SibSp           889 non-null    int64
 5   Parch           889 non-null    int64
 6   Embarked        889 non-null    object
 7   cabim_multiple  889 non-null    int64
 8   cabin_adv       889 non-null    object
 9   numeric_tiket   889 non-null    int64
 10  letters_tiket   889 non-null    object
 11  name_title      889 non-null    object
 12  norm_fare       889 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.2+ KB

#### labeling encoding

In [10]:
from src.labeling import safe_transform

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
labels = ['Sex', 'Embarked', 'cabin_adv', 'letters_tiket', 'name_title']

In [13]:
e_sex = LabelEncoder()
e_embarked = LabelEncoder()
e_cabin_adv = LabelEncoder()
e_letter_ticket = LabelEncoder()
e_name_tittle = LabelEncoder()

In [14]:
#e_sex.fit_transform(df['Sex'])
df['Embarked'] =e_embarked.fit_transform(df['Embarked'])
df['cabin_adv']= e_cabin_adv.fit_transform(df['cabin_adv'])
df['letters_tiket'] = e_letter_ticket.fit_transform(df['letters_tiket'])
df['name_title'] = e_name_tittle.fit_transform(df['name_title'])

In [16]:
df['Sex'] =e_sex.fit_transform(df['Sex'])

In [17]:
df.sample(10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,cabim_multiple,cabin_adv,numeric_tiket,letters_tiket,name_title,norm_fare
index,,,,,,,,,,,,,
85,1,3,0,33.000000,3,0,2,0,8,1,0,12,2.824351
828,1,3,1,29.699118,0,0,1,0,8,1,0,11,2.169054
280,0,3,1,65.000000,0,0,1,0,8,1,0,11,2.169054
490,0,3,1,29.699118,1,0,2,0,8,1,0,11,3.042935
887,1,1,0,19.000000,0,0,2,1,1,1,0,8,3.433987
651,1,2,0,18.000000,0,1,2,0,8,1,0,8,3.178054
698,0,1,1,49.000000,1,1,0,1,2,1,0,11,4.717456
174,0,1,1,56.000000,0,0,0,1,0,1,0,11,3.456184
520,1,1,0,30.000000,0,0,2,1,1,1,0,8,4.548600
292,0,2,1,36.000000,0,0,0,1,3,0,18,11,2.630089

In [18]:
import joblib as jb

In [19]:
#export encoders
jb.dump(e_sex, r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\ml\e_sex.pkl' )
jb.dump(e_cabin_adv, r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\ml\e_cabin_adv.pkl' )
jb.dump(e_embarked, r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\ml\e_embarked.pkl' )
jb.dump(e_letter_ticket, r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\ml\e_letter_ticket.pkl' )
jb.dump(e_name_tittle, r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\ml\e_name_tittle.pkl' )

['D:\\0_Respaldo\\0_Proyectos_2024\\ML_proyects\\titanic\\titanic\\titanic\\ml\\e_name_tittle.pkl']

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        889 non-null    int64
 1   Pclass          889 non-null    int64
 2   Sex             889 non-null    int64
 3   Age             889 non-null    float64
 4   SibSp           889 non-null    int64
 5   Parch           889 non-null    int64
 6   Embarked        889 non-null    int64
 7   cabim_multiple  889 non-null    int64
 8   cabin_adv       889 non-null    int64
 9   numeric_tiket   889 non-null    int64
 10  letters_tiket   889 non-null    int64
 11  name_title      889 non-null    int64
 12  norm_fare       889 non-null    float64
dtypes: float64(2), int64(11)
memory usage: 97.2 KB

#### Correlations

In [21]:
corr_m = df.corr()

In [22]:

cort = abs(corr_m['Survived'])
cort

Survived          1.000000
Pclass            0.335549
Sex               0.541585
Age               0.074673
SibSp             0.034040
Parch             0.083151
Embarked          0.169718
cabim_multiple    0.274282
cabin_adv         0.296833
numeric_tiket     0.000190
letters_tiket     0.002138
name_title        0.193873
norm_fare         0.327042
Name: Survived, dtype: float64

Featuring

In [29]:
df1 = df.copy()

In [31]:
df1['delta_sex'] = df1['Sex']*10 + df1['norm_fare']

In [32]:
df1['delta_class'] = df1['Sex']*10 + df1['Pclass']

In [33]:
corr_m = df1.corr()
cort = abs(corr_m['Survived'])
cort

Survived          1.000000
Pclass            0.335549
Sex               0.541585
Age               0.074673
SibSp             0.034040
Parch             0.083151
Embarked          0.169718
cabim_multiple    0.274282
cabin_adv         0.296833
numeric_tiket     0.000190
letters_tiket     0.002138
name_title        0.193873
norm_fare         0.327042
delta_sex         0.491365
delta_class       0.578863
Name: Survived, dtype: float64

In [35]:
df2 = df1.copy()

In [36]:
del df2['Age']
del df2['SibSp']
del df2['Parch']
del df2['numeric_tiket']
del df2['letters_tiket']

#### Export data

In [25]:
df.to_parquet(r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\data\clean\ready.parquet')

In [34]:
df1.to_parquet(r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\data\clean\ready_2.parquet')

In [37]:
df2.to_parquet(r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\data\clean\ready_3.parquet')