In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
ruta = r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\data\clean\extra_clean.parquet'

In [3]:
data = pd.read_parquet(ruta)

In [4]:
data.head(5)

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,cabim_multiple,cabin_adv,numeric_tiket,letters_tiket,name_title,norm_fare
index,,,,,,,,,,,,,
0,0,3,male,22.0,1,0,S,0,n,0,a5,Mr,2.110213
1,1,1,female,38.0,1,0,C,1,C,0,pc,Mrs,4.280593
2,1,3,female,26.0,0,0,S,0,n,0,stono2,Miss,2.188856
3,1,1,female,35.0,1,0,S,1,C,1,0,Mrs,3.990834
4,0,3,male,35.0,0,0,S,0,n,1,0,Mr,2.202765

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        889 non-null    int64
 1   Pclass          889 non-null    int64
 2   Sex             889 non-null    object
 3   Age             889 non-null    float64
 4   SibSp           889 non-null    int64
 5   Parch           889 non-null    int64
 6   Embarked        889 non-null    object
 7   cabim_multiple  889 non-null    int64
 8   cabin_adv       889 non-null    object
 9   numeric_tiket   889 non-null    int64
 10  letters_tiket   889 non-null    object
 11  name_title      889 non-null    object
 12  norm_fare       889 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.2+ KB

In [6]:
df = data.copy()

In [7]:
df.head(5)

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,cabim_multiple,cabin_adv,numeric_tiket,letters_tiket,name_title,norm_fare
index,,,,,,,,,,,,,
0,0,3,male,22.0,1,0,S,0,n,0,a5,Mr,2.110213
1,1,1,female,38.0,1,0,C,1,C,0,pc,Mrs,4.280593
2,1,3,female,26.0,0,0,S,0,n,0,stono2,Miss,2.188856
3,1,1,female,35.0,1,0,S,1,C,1,0,Mrs,3.990834
4,0,3,male,35.0,0,0,S,0,n,1,0,Mr,2.202765

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        889 non-null    int64
 1   Pclass          889 non-null    int64
 2   Sex             889 non-null    object
 3   Age             889 non-null    float64
 4   SibSp           889 non-null    int64
 5   Parch           889 non-null    int64
 6   Embarked        889 non-null    object
 7   cabim_multiple  889 non-null    int64
 8   cabin_adv       889 non-null    object
 9   numeric_tiket   889 non-null    int64
 10  letters_tiket   889 non-null    object
 11  name_title      889 non-null    object
 12  norm_fare       889 non-null    float64
dtypes: float64(2), int64(6), object(5)
memory usage: 97.2+ KB

#### labeling encoding

In [8]:
from src.labeling import safe_transform

In [12]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
labels = ['Sex', 'Embarked', 'cabin_adv', 'letters_tiket', 'name_title']

In [20]:
e_sex = LabelEncoder()
e_embarked = LabelEncoder()
e_cabin_adv = LabelEncoder()
e_letter_ticket = LabelEncoder()
e_name_tittle = LabelEncoder()

In [21]:
#e_sex.fit_transform(df['Sex'])
df['Embarked'] =e_embarked.fit_transform(df['Embarked'])
df['cabin_adv']= e_cabin_adv.fit_transform(df['cabin_adv'])
df['letters_tiket'] = e_letter_ticket.fit_transform(df['letters_tiket'])
df['name_title'] = e_name_tittle.fit_transform(df['name_title'])

In [22]:
df.sample(10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Embarked,cabim_multiple,cabin_adv,numeric_tiket,letters_tiket,name_title,norm_fare
index,,,,,,,,,,,,,
823,1,3,0,27.000000,0,1,2,1,4,1,0,12,2.600836
547,1,2,1,29.699118,0,0,0,0,8,0,18,11,2.698841
189,0,3,1,36.000000,0,0,2,0,8,1,0,11,2.185579
529,0,2,1,23.000000,2,1,2,0,8,1,0,11,2.525729
604,1,1,1,35.000000,0,0,0,0,8,1,0,11,3.316003
510,1,3,1,29.000000,0,0,1,0,8,1,0,11,2.169054
491,0,3,1,21.000000,0,0,2,0,8,0,23,11,2.110213
488,0,3,1,30.000000,0,0,2,0,8,0,2,11,2.202765
560,0,3,1,29.699118,0,0,1,0,8,1,0,11,2.169054
22,1,3,0,15.000000,0,0,1,0,8,1,0,8,2.200464

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Survived        889 non-null    int64
 1   Pclass          889 non-null    int64
 2   Sex             889 non-null    int64
 3   Age             889 non-null    float64
 4   SibSp           889 non-null    int64
 5   Parch           889 non-null    int64
 6   Embarked        889 non-null    int64
 7   cabim_multiple  889 non-null    int64
 8   cabin_adv       889 non-null    int64
 9   numeric_tiket   889 non-null    int64
 10  letters_tiket   889 non-null    int64
 11  name_title      889 non-null    int64
 12  norm_fare       889 non-null    float64
dtypes: float64(2), int64(11)
memory usage: 97.2 KB

#### Export data

In [25]:
df.to_parquet(r'D:\0_Respaldo\0_Proyectos_2024\ML_proyects\titanic\titanic\titanic\data\clean\ready.parquet')